# This workflow will upload a .deb Package 

name: Upload QMK Ubuntu Package

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3.5.2

    # Environment Setup
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential apt-utils dpkg-sig python3-pip python3-venv ruby ruby-dev rubygems
        sudo python3 -m pip install virtualenv-tools3
        sudo gem install --no-document fpm

    # Build Ubuntu package
    - name: Build debian package
      run: ./build_deb_package.sh

    - name: Build debian package repository
      env:
        QMK_GPG_PRIVATE_KEY: ${{ secrets.QMK_GPG_PRIVATE_KEY }}
      run: ./build_deb_repo.sh

    - name: Upload Debian Repo
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: qmk-linux
        AWS_ACCESS_KEY_ID: ${{ secrets.SPACES_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.SPACES_SECRET_KEY }}
        AWS_S3_ENDPOINT: https://nyc3.digitaloceanspaces.com
        SOURCE_DIR: 'deb_repo'
        DEST_DIR: 'dists/focal'
